ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.taskItem{
    clear: both;
    height: 40px;
    font-size: 18px;
    background: #eee;
    line-height: 40px;
    margin-top: 1px;
    padding-left: 20px;
}

#newTaskInput{
    margin: 0 0 -10px 30px;
}

.taskItem{
    cursor: pointer;
    position: relative;
}

.delete{
    float: right;
    margin: 5px;
    display: none;
}

.check{
    position: absolute;
    right: 30px;
    top: 12px;
}